<section class="text-center">

  <h4 class="text-center my-5"><strong>Related products</strong></h4>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-6 col-lg-3 mb-5">

      <!-- Card -->
      <div class="">

        <div class="view zoom overlay z-depth-2 rounded">
          <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
          <a href="#!">
            <div class="mask waves-effect waves-light">
              <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
              <div class="mask rgba-black-slight waves-effect waves-light"></div>
            </div>
          </a>
        </div>

        <div class="pt-4">

          <h5>Blue denim shirt</h5>
          <p><span><strong>$17.99</strong></span></p>

        </div>

      </div>
      <!-- Card -->

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-lg-3 mb-5">

      <!-- Card -->
      <div class="">

        <div class="view zoom overlay z-depth-2 rounded">
          <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" alt="Sample">
          <a href="#!">
            <div class="mask waves-effect waves-light">
              <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg">
              <div class="mask rgba-black-slight waves-effect waves-light"></div>
            </div>
          </a>
        </div>

        <div class="pt-4">

          <h5>Red hoodie</h5>
          <p><span><strong>$35.99</strong></span></p>

        </div>

      </div>
      <!-- Card -->

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-lg-3 mb-5">

      <!-- Card -->
      <div class="">

        <div class="view zoom overlay z-depth-2 rounded">
          <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" alt="Sample">
          <h4 class="mb-0"><span class="badge badge-primary badge-pill badge-news">Sale</span></h4>
          <a href="#!">
            <div class="mask waves-effect waves-light">
              <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg">
              <div class="mask rgba-black-slight waves-effect waves-light"></div>
            </div>
          </a>
        </div>

        <div class="pt-4">

          <h5>Grey sweater</h5>
          <p><span class="text-danger mr-1"><strong>$21.99</strong></span><span class="text-grey"><strong><s>$36.99</s></strong></span></p>

        </div>

      </div>
      <!-- Card -->

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-lg-3 mb-5">

      <!-- Card -->
      <div class="">

        <div class="view zoom overlay z-depth-2 rounded">
          <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" alt="Sample">
          <a href="#!">
            <div class="mask waves-effect waves-light">
              <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg">
              <div class="mask rgba-black-slight waves-effect waves-light"></div>
            </div>
          </a>
        </div>

        <div class="pt-4">

          <h5>Black denim jacket</h5>
          <p><strong>$99.99</strong></p>

        </div>

      </div>
      <!-- Card -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
