<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Sobre nosotros</h1>
        <p class="lead text-muted mb-0">Esto es simplemente un Demo de un ecommerce de ropa</p>
        <p class="lead text-muted">
          Hecho por <a href="https://natanaelrecuenco.com" class="text-muted">
            <u>Natanael Recuenco Diez</u>
          </a>  utilizando las tecnologias nodeJS, Javascript, AngularJS y MongoDB
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="../assets/images/img-3.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

