<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Mantente en contacto con nosotros</h5>

        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fa fa-facebook"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fa fa-instagram"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fa fa-pinterest"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-tiktok"> </i>
            </a>
          </li>
        </ul>
        <!-- metodos de pago -->

        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <img src="../assets/images/icons/icon-pay-01.png" alt="ICON-PAY">
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <img src="../assets/images/icons/icon-pay-02.png" alt="ICON-PAY">
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <img src="../assets/images/icons/icon-pay-03.png" alt="ICON-PAY">
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <img src="../assets/images/icons/icon-pay-04.png" alt="ICON-PAY">
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <img src="../assets/images/icons/icon-pay-05.png" alt="ICON-PAY">
            </a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Categorias</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Mujer</a>
          </li>
          <li>
            <a href="#!">Hombre</a>
          </li>
          <li>
            <a href="#!">Zapatos</a>
          </li>
          <li>
            <a href="#!">Bolsos</a>
          </li>
          <li>
            <a href="#!">Complementos</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Déjanos ayudarte</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">PUFs</a>
          </li>
          <li>
            <a href="#!">Rastrea tu pedido</a>
          </li>
          <li>
            <a href="#!">Metodos de pago</a>
          </li>
          <li>
            <a href="#!">Envío y entrega</a>
          </li>
          <li>
            <a href="#!">Política de devoluciones</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>


  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <section class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="content">
              <h2>Suscribete para recibir un 10% de descuento en tu siguiente compra</h2>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Introduce tu Email -- En la Demo no funciona">
                <span class="input-group-btn">
                  <button class="btn" type="submit">Susscribete</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </ul>
  <!-- Call to action -->
  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center">
    <p>
      &copy;
      <script>document.write(new Date().getFullYear());</script> Natanael Recuenco - Ecommerce Demo
    </p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
