
<section class="category-area section-padding30" id="categorieBanner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="single-category mb-30">
          <div class="category-img">
            <a (click)="searchCategorie('Mujer')">
              <img src="../assets/images/banner-01.jpg" alt="IMG-BANNER">
              <div class="category-caption">
                <h2>Mujer</h2>
                <p class="best">Primavera 2020</p>
                <span class="buynow">Comprar ahora</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="single-category mb-30">
          <div class="category-img">
            <a (click)="searchCategorie('Hombre')">
              <img src="../assets/images/banner-02.jpg" alt="IMG-BANNER">
              <div class="category-caption">
                <h2>Hombre</h2>
                <p class="best">Primavera 2020</p>
                <span class="buynow">Comprar ahora</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="single-category mb-30">
          <div class="category-img">
            <a (click)="searchCategorie('Accesorios')">
              <img src="../assets/images/banner-03.jpg" alt="IMG-BANNER">
              <div class="category-caption">
                <h2>Accesorios</h2>
                <p class="best">Novedades</p>
                <span class="buynow">Comprar ahora</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



